/POST /api/ad/searchinfo. <br><br>

- adserver = Active Directory Server<br>
- ousearch = Organizetion Unit Search ex. ou=user,dc=domain,dc=local<br>
- binduser = BindUser ex. binuser@domain.local<br>
- bindpassword = BindUser Password<br>
- searchuser = Searching username and get Attributes<br><br>

/POST /api/ad/auth <br><br>

- adserver = Active Directory Server<br>
- domain = Domain Name ex. @domain.local<br>
- username = User Check ex. username@domain.local<br>
- password = Password<br><br>

/POST /api/adstandard/auth <br><br>

- adserver = Active Directory Server<br>
- domain = Domain Name ex. @domain.local<br>
- username = User Check ex. username@domain.local<br>
- password = Password<br>
